[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF new_tracking_flags.size %]
  [% FOREACH type = tracking_flag_types %]
    [% flags = [] %]
    [% FOREACH flag = new_tracking_flags %]
      [% flags.push(flag) IF flag.type == type.name %]
    [% END %]

    [% IF flags.size %]
      [% PROCESS tracking_flag_section
         flag_type = type
         flag_list = flags
      %]
    [% END %]
  [% END %]
[% END %]

[% BLOCK tracking_flag_section %]
  <tr>
    <th class="field_label">[% flag_type.description FILTER html %]:</th>
    <td>
      [% IF flag_type.collapsed %]
        <span id="[% flag_type.name FILTER html %]_flags_edit_container">
          (<a href="#" id="[% flag_type.name FILTER html %]_flags_edit_action">edit</a>)
        </span>
      [% END %]
      <div id="[% flag_type.name FILTER html %]_flags_edit_input">
        <table class="tracking_flags">
        [% FOREACH flag = flag_list %]
          <tr id="row_[% flag.name FILTER html %]">
            <td>&nbsp;</td>
            <td>
              <label for="[% flag.name FILTER html %]">[% flag.description FILTER html %]:</label>
            </td>
            <td>
              <select id="[% flag.name FILTER html %]"
                      name="[% flag.name FILTER html %]">
                [% FOREACH value = flag.values %]
                  [% IF value.value != flag.set_value.value %]
                    [% NEXT IF !flag.can_set_value(value.value, flag.bug_flag.value) %]
                    [% NEXT IF !value.is_active %]
                  [% END %]
                  <option value="[% value.value FILTER html %]"
                          id="v[% loop.count %]_[% flag.name FILTER html %]"
                          [% 'selected' IF flag.bug_flag.value == value.value %]>
                          [% value.value FILTER html %]</option>
                [% END %]
              </select>
            </td>
          </tr>
        [% END %]
        </table>
      </div>
      [% IF flag_type.collapsed %]
        <script type="text/javascript">
          hideEditableField('[% flag_type.name FILTER js %]_flags_edit_container',
                            '[% flag_type.name FILTER js %]_flags_edit_input',
                            '[% flag_type.name FILTER js %]_flags_edit_action',
                            '',
                            '');
        </script>
      [% END %]
    </td>
  </tr>
[% END %]
