[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF new_tracking_flags.size %]
  [% tflags = [] %]
  [% pflags = [] %]
  [% FOREACH flag = new_tracking_flags %]
    [% pflags.push(flag) IF flag.is_project %]
    [% tflags.push(flag) IF !flag.is_project %]
  [% END %]

  [% PROCESS tracking_flag_section
     flag_label = 'Project'
     flag_type  = 'project'
     flag_list  = pflags
  %]

  [% PROCESS tracking_flag_section
     flag_label = 'Tracking'
     flag_type  = 'tracking'
     flag_list  = tflags
  %]
[% END %]

[% BLOCK tracking_flag_section %]
  <tr>
    <th class="field_label">[% flag_label FILTER html %] Flags:</th>
    <td>
      <span id="[% flag_type FILTER html %]_flags_edit_container">
        (<a href="#" id="[% flag_type FILTER html %]_flags_edit_action">edit</a>)
      </span>
      <div id="[% flag_type FILTER html %]_flags_edit_input">
        <table id="[% flag_type FILTER html %]-flags">
        [% FOREACH flag = flag_list %]
          <tr id="row_[% flag.name FILTER html %]">
            <td>&nbsp;</td>
            <td>
              <label for="[% flag.name FILTER html %]">[% flag.description FILTER html %]:</label>
            </td>
            <td>
              <select id="[% flag.name FILTER html %]" 
                      name="[% flag.name FILTER html %]">
                [% FOREACH value = flag.values %]
                  [% IF value.value != flag.set_value.value %]
                    [% NEXT IF !flag.can_set_value(value.value,flag.set_value.value) %]
                    [% NEXT IF !value.is_active %]
                  [% END %]
                  <option value="[% value.value FILTER html %]"
                          id="v[% loop.count %]_[% flag.name FILTER html %]"
                          [% IF flag.bug_flag.value == value.value %] selected="selected"[% END %]
                          [% IF !flag.can_set_value(value.value,flag.bug_flag.value) %]disabled="disabled"[% END %]>
                          [% value.value FILTER html %]</option>
                [% END %]
              </select>
            </td>
          </tr>
        [% END %]
        </table>
      </div>
      <script type="text/javascript">
        hideEditableField('[% flag_type FILTER js %]_flags_edit_container',  
                          '[% flag_type FILTER js %]_flags_edit_input',  
                          '[% flag_type FILTER js %]_flags_edit_action',  
                          '',  
                          '');  
      </script>
    </td>
  </tr>
[% END %]
